<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- CSS
          ================================================== -->

    <link rel ="stylesheet" href="/css/base.css"  type="text/css">
    <link rel ="stylesheet" href="/css/main.css"  type="text/css">



    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />

    <!-- script
          ================================================== -->

    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>
    <script src='js/scripts/pt.min.js'></script>


    <title>{% block title %}Portfolio Lucas Jenvrain{% endblock %}</title>

</head>



<header>

    <div class="top-bar">

        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Menu</a>
            <div class="dropdown-content">
                <a href="{{ path('home') }}">Accueil</a>

                <a  {% if current_menu is defined and current_menu == 'about' %}active {% endif %}" href="{{ path('presentation') }}">A propos</a>


                <a {% if current_menu is defined and current_menu == 'experience' %}active {% endif %}" href="{{ path('experience') }}">Experience</a>
                <a {% if current_menu is defined and current_menu == ' realisation' %}active {% endif %}" href="{{ path('realisation') }}">Réalisations</a>
                <a {% if current_menu is defined and current_menu == ' parcour' %}active {% endif %}" href="{{ path('parcours') }}">Parcours</a>
                 <a {% if current_menu is defined and current_menu == ' boutique' %}active {% endif %}" href="{{ path('boutique') }}">Boutique</a>
                <a {% if current_menu is defined and current_menu == ' panier' %}active {% endif %}" href="{{ path('panier') }}">Panier</a>
                <a {% if current_menu is defined and current_menu == ' admin' %}active {% endif %}" href="{{ path('admin') }}">Admin</a>
                <a href="mailto:{{ translate('email') }}">{{ translate('contactMe') }}</a>

            </div>

        </li>
    </div>
    <div class="logo">
        <a href="{{ path('home') }}">
        </a>
    </div>



</header>
<body></body>
{% block body %}

{% endblock %}
</html>





