{% extends 'base.html.twig.' %}

{% block body %}
    <div class="block">
        <fieldset>
            <h1 class="black">Editer La présentation</h1>

            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-4">{{ form_row(form.job) }}</div>
                <div class="col-md-4">{{ form_row(form.country) }}</div>
                <div class="col-md-4">{{ form_row(form.email) }}</div>
            </div>
            <div class="row">
                <div class="col-md-2">{{ form_row(form.presentation_text) }}</div>
                <div class="col-md-2">{{ form_row(form.birthday) }}</div>
            </div>

            <button class="button button-primary">Editer</button>
            {{ form_end(form) }}
    </div>
    </fieldset>
    <br><br><br><br><br><br>
    {% include ("pages/includes/footer.html.twig") %}
{% endblock %}